<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Keys</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" th:href="@{/}">주의 말씀은 내 발에 등이요 내 길에 빛이니이다 (시 119:195)</a>
    </div>
</nav>
<div class="container-fluid mt-5">
    <h2>QT Notes</h2>
    <div class="d-flex justify-content-end mb-3">
        <button class="btn btn-success" onclick="location.href='./add'">묵상 작성하기</button>
    </div>
        <table class="table table-bordered">
            <!--        없애도 될듯 -->
            <!--        <thead class="thead-light">-->
            <!--        <tr>-->
            <!--            <th>사진</th>-->
            <!--            <th>상품명</th>-->
            <!--            <th>가격</th>-->
            <!--            <th>재고 수량</th>-->
            <!--            <th>생성 일자</th>-->
            <!--            <th>수정 일자</th>-->
            <!--            <th>Action</th>-->
<!--        </tr>-->
<!--        </thead>-->
        <tbody>

        <tr th:each="product, iterStat : ${products.productList}">
            <!-- 생성 일자(수정 일자), 말씀 구절, 말씀 요약으로 수정-->
            <td>
                <a th:href="@{'/products/' + ${product.id}}">
                    <img th:src="@{'/image/' + ${product.image}}" style="width: 200px; height: 200px;">
                </a>
            </td>
            <td><a th:href="@{'/products/' + ${product.id}}" th:text="${product.name}">name</a></td>
            <td th:text="${product.price}">price</td>
            <td th:text="${product.stock}">stock</td>
            <td th:text="${product.createdAt}">createdAt</td>
            <td th:text="${product.updatedAt}">updatedAt</td>
<!-- 삭제, 수정, 상세 보기를 아이콘 버튼으로 나타냄 -->
            <td>
                <button class="btn btn-danger" th:onclick="confirmDelete([[${product.id}]])">삭제하기</button>
                <button class="btn btn-warning" th:onclick="location.href='./edit/' + [[${product.id}]]">수정하기</button>
                <button class="btn btn-info" th:onclick="location.href='./' + [[${product.id}]]">상세 보기</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script>
    function confirmDelete(id) {
        if (confirm('정말 삭제하시겠습니까?')) {
            location.href = './delete/' + id;
        }
    }
</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
