<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Page">
    <select id="findAll" resultType="page">
        select * from page order by createdAt desc
    </select>
    <select id="add">
        insert into page (word, celebration, summation, contemplation, pray, image)
        values
            (#{word}, #{celebration}, #{summation}, #{contemplation}, #{pray}, #{image})
    </select>
    <select id="findById" resultType="page">
        select * from page where id = #{id}
    </select>
    <select id="edit">
        update page
        set word = #{word}, celebration = #{celebration}, summation = #{summation}, contemplation = #{contemplation}, pray = #{pray}, image = #{image}
        where id = #{id}
    </select>
    <select id="delete">
        delete from page where id = #{id}
    </select>
</mapper>